.dataTables_length {
    display: none
}

h4 {
    text-transform: none !important;
}

.filterBox {
    min-height: 400px;
    border: 1px solid #b5b5b5;
    margin-top: 47px;
}

.filterItem {
    margin: 10px;
    border: 1px solid #b5b5b5;
    min-height: 390px;
}

.filtertitle {
    margin: 12px;
}

.costf {
    color: #626262 !important;
    /* font-weight: normal;*/
}

.panel-group .panel-heading {
    padding: 13px 18px 10px 11px !important;
}

.searchTo {
    margin-left: 10px;
    margin-right: 10px;
}

.glyphicon {
    font-size: initial;
    margin-top: 5px;
}
.grouptitle{
	margin-left: 10px;
}
ul {
  list-style-type: none;
}
.pg-close{
	margin-top: 10px;
}