<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><a href="#" class="active">PRODUCTS</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<div class="header-container">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div>
            <h1>PRODUCTS</h1>
        </div>
        <div>
            <h4 class="inline">This is a complete list of all current products</h4>
            <button class="btn btn-custom btn-cons pull-right" ng-click="showModal()">CREATE NEW ASSEMBLY</button>
        </div>
    </div>
</div>
<div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="col-lg-3 col-md-3">
        <div class="filterBox">
            <h5 class="filtertitle">FILTERBAR</h5>
            <div class="filterItem">
            <div class="row">
                <p class="col-md-6" style="margin:10px"><b>YOUR FILTERS</b></p>
                <p class="col-md-4 pull-right" style="margin:10px"><b>CLEAR</b></p>
                </div>               
                <div class="">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                            <div class="panel-heading costf" role="tab">
                               <p class="panel-title">
                                    <span class="glyphicon glyphicon-education"></span> <span class="grouptitle"> PARTID_121 <i class="fs-14 pg-close pull-right"></i></span>
                                   
                                </p>
                            </div>
                        </div>

                        <div class="panel panel-default" ng-repeat="group in group1">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                            <a ng-class="{collapsed:!collapseOne}" ng-click="collapseOne=!collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class={{group.icon}}></span>
                                <span class="grouptitle">{{group.title}} </span></a>
                            <p>SOME EXAMPLE SKILL</p>
                          </h4>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{in:collapseOne}">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="item in group.items">{{item['item-title']}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading costf">
                                <p class="panel-title">
                                    <span class="glyphicon glyphicon-list-alt"></span> <span class="grouptitle"> COST|MSRP</span>
                                </p>
                                <div class="row">
                                    <p class="col-md-6">FROM</p>
                                     <p class="col-md-6">TO</p>
                                </div>
                                <div class="">
                                    <input type="text" class="searchFrom col-md-5"/>
                                    <input type="text" class="searchTo col-md-5"/>
                                    <span class="glyphicon glyphicon-search"></span> 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-repeat="group in group2">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                            <a ng-class="{collapsed:!collapseOne}" ng-click="collapseOne=!collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class={{group.icon}}></span>
                                <span class="grouptitle">{{group.title}} </span></a>
                          </h4>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{in:collapseOne}">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="item in group.items">{{item['item-title']}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-transparent col-lg-9 col-md-9">
        <div class="panel-heading">
            <div class="panel-title">
            </div>
            <!-- <div class="pull-right">
                <div class="col-xs-12">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                </div>
            </div> -->
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <table class="table expanding table-hover table-condensed" id="table" ui-jq="dataTable" ui-options="DT_options" dt-instance="dtInstance">
                <thead>
                    <tr>
                        <th width="30%" class="">NAME</th>
                        <th width="30%" class="">DESCRIPTION</th>
                        <th width="20%" class="">INVENTORY</th>
                        <th width="30%" class="">$COST</th>
                        <th width="20%" class="">$MSRP</th>
                        <th width="30%">STATUS</th>
                        <th width="20%" class="">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
