.dataTables_length {
    display: none
}

h4 {
    text-transform: none !important;
}

.filterBox {
    border: 1px solid #ededed;
    margin: 20px 0px;
    display: inline-block;
}

.filterItem {

}

.filtertitle {
    margin: 12px;
}

.costf {
    color: #626262 !important;
    /* font-weight: normal;*/
}

.panel-group .panel-heading {
    padding: 13px 18px 10px 11px !important;
}


.glyphicon {
    font-size: 13px;
    margin-top: 5px;
}
.grouptitle{
    margin-left: 10px;
    font-size: 13px;
    color:#101010;
    font-weight: 400;
}
ul {
  list-style-type: none;
}
.pg-close{
    margin-top: 10px;
    margin-right: -4px;
}
.clear{
    margin-top:10px;
    color:#1c91f9;
}

/*Om*/
.jumbotron{
    margin-bottom:0!important;
}
.header-container {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 5px;
}
.header-container h1{
    margin:0!important;    
}
.header-container h4{
    margin: -9px 0px!important;
    font-size:20px;
}
.header-container h1,
.header-container h4{
    color: #00698c;
}
.FilteredORclear{
    float: left;
    padding: 10px 15px;
    width: 100%;
}
.FilteredORclear label.ClearAll{
    color: #00698c;
}

.filterBox .panel.BgColor_1{
    background-color: #fbfbfb!important;
}
.filterBox .filterItem .panel p{
    font-size: 12px;
    font-family: arial;
    color: #000000;
}
.filterBox .SearchFromLbl_1{

position: relative;

left: -37px;
}
.filterBox .SearchFromLbl_2{

position: relative;

left: 44px;
}
.filterBox .SearchForm .form-control{
    width: 42%;
    display: initial;
    padding: 0px 6px;
    margin: 0px 4px 0px 0px;
}
.filterBox .SearchForm span{
position: relative;
left: 8px;
cursor: pointer;
}

.filterBox .panel-group .panel-heading .panel-title > a.collapsed:after {
  content: "\f054";
  color: rgba(98, 98, 98, 0.7);
   color:#101010;
}
.filterBox .panel-group .panel-heading .panel-title > a:after {
    content: "\f054";
     color:#101010;
}

.filterBox .panel-group .panel-heading .panel-title.FA_Icon > a:after {
    content: "\f0dc"!important;
     color:#101010;
}
@media(min-width:1900px){
    .filterBox .SearchForm span {
    position: relative;
    left: 30px;
    cursor: pointer;
}
}
/*popover*/
.popover{
    min-width:600px;
    /*top: 19px !important;*/
    left: 197.75px !important;
    display: block;
}

.filsize{   
    border-radius: 4px;
    font-size: 14px;
    background-color: #f3f0f0;
}
.filterBtn{
    margin: 20px;
    background-color: #82b440;
    border-color: #82b440;
}
 .btn-success:hover{
     background-color: #82b440 !important;
    border-color: #82b440 !important;
}
.filtval{
    font-size: 11px;
}
.filtersmenu{
        margin-top: -29px;
   margin-left: 20px;
}