<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><a href="#" class="active">PRODUCTS</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<div class="header-container">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div>
            <h1>PRODUCTS</h1>
        </div>
        <div>
            <h3 class="inline">This is a complete list of all current products</h3>
        </div>
    </div>
</div>
<div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="col-md-3">
        <div class="filterBox">
            <h5 class="filtertitle">FILTER BAR</h5>
            <div class="filterItem">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" style="margin-bottom: 20px; border-radius: 7px;">
                            <div class="FilteredORclear">
                                <label class="pull-left"><b>YOUR FILTERS</b></label>
                                <label class="pull-right ClearAll">CLEAR ALL</label>
                            </div>
                            <div class="panel-heading costf" role="tab">
                                <h4 class="panel-title">
                                    <div class="title-wrap">
                                        <span class="glyphicon glyphicon-education"></span> <span class="grouptitle"> PARTID_121</span>
                                    </div>
                                    <i class="fs-16 pg-close pull-right m-t-10"></i>
                                </h4>
                            </div>
                        </div>
                        <div class="panel BgColor_1 panel-default first">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-education"></span>
                                    <a class="filtersmenu" uib-popover-template="categoryPopover.templateUrl" popover-is-open="isOpen" popover-placement="right"
                                        popover-trigger="outsideClick"><span class="grouptitle">CATEGORY</span></a>
                                    <p class="p-grey">SOME EXAMPLE SKILL</p>
                                </h4>
                            </div>
                        </div>
                        <div class="panel BgColor_1 panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-list-alt to-bottom"></span>
                                    <a class="filtersmenu" uib-popover-template="typePopover.templateUrl" popover-is-open="isOpens" popover-placement="right"
                                        popover-trigger="outsideClick"><span class="grouptitle">TYPE</span></a>
                                    <p class="p-grey">SOME EXAMPLE SKILL</p>
                                    <p class="p-grey">SOME EXAMPLE SKILL</p>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <script type="text/ng-template" id="CategoryTemplate.html">
                                <h5>Filter by Category<a ng-click="close()"><span><i class="fs-16 pg-close pull-right"></i></span></a></h5>
                                <div ng-repeat="category in categories">
                                    <div>
                                        <h5 class="col-md-6"><span class="filsize">{{category.text}}</span><span class="pull-right filtval">{{category.value}}</span></h5>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success pull-right filterBtn">Submit</button>
                            </script>
                        </div>
                        <div class="col-md-12">
                            <script type="text/ng-template" id="TypeTemplate.html">
                                <h5>Filter by Type<a ng-click="close()"><span><i class="fs-16 pg-close pull-right"></i></span></a></h5>
                                <div ng-repeat="type in types">
                                    <div>
                                        <h5 class="col-md-6"><span class="filsize">{{type.text}}</span><span class="pull-right filtval">{{type.value}}</span></h5>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success pull-right filterBtn">Submit</button>
                            </script>
                        </div>
                        <div class="panel BgColor_1 panel-default">
                            <div class="panel-heading costf">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-list-alt to-bottom"></span>
                                    <span class="grouptitle positioned">COST&nbsp;|&nbsp;MSRP</span>
                                </h4>
                                <div class="col-md-12" style="margin-top: 8px;">
                                    <span class="SearchFromLbl_1 grouptitle col-md-4 pull-left p-grey">FROM</span>
                                    <span class=" grouptitle col-md-4 p-grey">TO</span>
                                </div>
                                <div class="SearchForm">
                                    <h4 class="panel-title">
                                        <input type="text" class="searchFrom form-control" />
                                        <input type="text" class="searchTo form-control" />
                                        <span class="glyphicon glyphicon-search small"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel FA_Icon BgColor_1 panel-default" ng-repeat="group in group2">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title FA_Icon">
                                    <a ng-class="{collapsed:!collapseOne}" ng-click="collapseOne=!collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class={{group.icon}}></span>
                                <span class="grouptitle">{{group.title}} </span></a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{in:collapseOne}">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="item in group.items">{{item['item-title']}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-transparent col-lg-9 col-md-9">
        <div class="panel-heading">
            <div class="panel-title">
            </div>
            <div class="pull-right">
                <div class="Tbl_Search">
                    <input type="text" id="search-table" class="form-control pull-right" ng-model="search" placeholder="Search">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <table datatable="ng" class="table expanding table-hover table-condensed" id="table" ui-jq="dataTable" ui-options="options"
                dt-instance="dtInstance">
                <thead>
                    <tr>
                        <th class="">NAME</th>
                        <th class="">DESCRIPTION</th>
                        <th class="">INVENTORY</th>
                        <th class="">$COST</th>
                        <th class="">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products | filter:search">
						<td width="25%">{{product.name}}</td>
						<td width="60%"><div ng-bind-html="product.description | limitTo: 100"></div></td>
                        <td width="5%">{{product.inventory_level}}</td>
						<td width="5%">{{product.price}}</td>
						<td width="5%"><a href="#/products/{{product._id}}">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
