/*

* Override Pages default styles or create your own styles here

*/


@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/segoeui.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/segoeui.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/SEGOEUIB.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Titillium';
  src: url("../fonts/Titillium-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Titillium';
  src: url("../fonts/Titillium-Bold.otf");
  font-weight: bold;
  font-style: normal; }
h1, h2, h3, h4, h5 {
  text-transform: uppercase; }

.page {
  padding: 0px 15px;
  background: white; }

.sub-title {
  padding: 20px 30px;
  color: black;
  display: flex; }
  .sub-title > div:first-child {
    padding-left: 5px; }
  .sub-title h3 {
    font-family: "Titillium";
    font-size: 35px;
    margin-top: 0px; }
  .sub-title p {
    margin: 0;
    font-size: 20px;
    font-family: "Segoe UI Light"; }

.sub-title-bar {
  padding: 10px; }

.light-border-box {
  border: 1px solid #EDEDED; }

.webix-view {
  margin-top: 8px;
  height: 724px; }

.page-create_assembly {
  font-family: Montserrat; }
  .page-create_assembly .btn-success {
    background: #238c00;
    border-radius: 0px;
    border-width: 0px;
    padding: 10px 0px;
    line-height: 21px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 175px;
    font-size: 15px; }
  .page-create_assembly .btn-success:hover {
    padding: 15px 30px;
    border-width: 0px; }
  .page-create_assembly .form-group {
    border: 1px solid #DBDBEA;
    width: 399px;
    border-radius: 2px;
    color: #606060 !important;
    height: 54px; }
  .page-create_assembly .form-group input, .page-create_assembly .ui-select-container {
    font-family: "Segoe UI" !important;
    font-size: 14px; }

table.table-product-description tbody {
  font-family: "Segoe UI"; }
table.table-product-description .product-info {
  display: inline-block;
  color: black !important;
  font-weight: bold !important;
  line-height: 22px; }
table.table-product-description .description {
  font-size: 11px;
  color: #919191 !important;
  line-height: 19px;
  margin-left: 17px; }
table.table-product-description thead th {
  text-transform: uppercase;
  font-weight: bold;
  color: black !important;
  padding-bottom: 20px; }

table.table-product-description th:not(.tree-dnd-handle), table.table-product-description td:not(.tree-dnd-handle) {
  padding-left: 10px !important;
  padding-right: 10px !important; }

table.table-product-description tr td, table.table-product-description tr th {
  border-color: #a6a5a5; }

table.table-product-description tr td {
  padding: 10px 20px 10px 15px;
  vertical-align: middle; }

table.table-product-description td.description strong {
  color: black !important; }

table.table-product-description td.description input {
  width: 100%; }

ul.tree-dnd-nodes {
  text-transform: uppercase; }
  ul.tree-dnd-nodes div.list-group-item {
    padding: 1px 0px; }
  ul.tree-dnd-nodes .expand-handler {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../icons/collapse.fw.png") no-repeat center center; }
    ul.tree-dnd-nodes .expand-handler.expanded {
      background: url("../icons/expand.fw.png") no-repeat center center; }
  ul.tree-dnd-nodes .list-group-item.group {
    font-family: "Montserrat"; }
    ul.tree-dnd-nodes .list-group-item.group.level-1 {
      font-weight: bold; }
  ul.tree-dnd-nodes .list-group-item.product {
    font-family: "Segoe UI"; }
    ul.tree-dnd-nodes .list-group-item.product span:nth-child(2) {
      margin-left: 70px; }
  ul.tree-dnd-nodes .description {
    font-size: 11px;
    font-family: "Segoe UI";
    color: #919191 !important;
    margin-left: 20px;
    line-height: 1.2em;
    text-transform: none;
    max-width: 285px; }

.product-search-group {
  border-width: 0px;
  border-bottom: 1px solid black;
  width: 100%; }

.product-search-group span.input-group-addon {
  background: url("../icons/search.png") no-repeat 0px 3px;
  color: transparent;
  width: 30px;
  line-height: 20px;
  padding: 0;
  border-width: 0px; }

.product-search-group input.form-control {
  border-width: 0px;
  border-left: 0px;
  padding-left: 9px; }

.product-search-group input:focus {
  border-width: 0px;
  color: black;
  font-weight: normal; }

.input-search-group {
  display: inline-block;
  padding: 5px;
  position: relative;
  border: 1px solid #dbdbea;
  border-radius: 3px;
  margin-right: 10px; }

.input-search-group > div {
  text-transform: uppercase; }

.input-search-group input.form-control {
  border: 0px !important; }

.input-search-group.required:after {
  position: absolute;
  content: '*';
  color: red;
  right: 1em;
  top: 0.5em; }

.input-search-group input:focus {
  border-width: 0px;
  width: 100%; }

.input-search-group select {
  border-width: 0;
  padding: 7px;
  color: #999; }

.expand-handler {
  cursor: pointer; }

.btn-add-product, .icon-button {
  cursor: pointer; }

.tree-dnd-handle {
  font-weight: normal !important; }

table tbody.tree-dnd-nodes tr.tree-dnd-node.active td {
  background-color: #daeffd !important; }

.form-control:focus {
  background: transparent; }

.color-black .text-info {
  color: black !important; }

[tree-dnd-nodes] > * > div {
  padding-left: 0px; }

.icon-button {
  width: 18px;
  height: 18px;
  display: inline-block; }

.icon-button.icon-plus {
  background: url("../icons/plus-circle.fw.png") no-repeat center center;
  float: right; }

.icon-button.icon-edit {
  background: url("../icons/edit.fw.png") no-repeat center center; }

.icon-button.icon-remove {
  background: url("../icons/delete.fw.png") no-repeat center center; }

.spinner {
  width: 100px; }

.spinner input {
  text-align: right; }

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell; }

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0; }

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px; }

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px; }

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px; }

.title-block {
  display: inline-block;
  width: 30px;
  height: 25px;
  position: relative;
  font-family: 'Montserrat'; }
  .title-block > a {
    z-index: 5;
    position: relative; }
  .title-block .btn-toggle {
    display: inline-block;
    width: 30px;
    height: 25px;
    background: url("../icons/logo-toggle.png") no-repeat; }
  .title-block .logo-thumnbail {
    width: 129px;
    height: 57px;
    margin-bottom: 5px; }
  .title-block .logo-panel {
    z-index: 3;
    width: 0px !important;
    height: 0px;
    overflow: hidden;
    position: absolute;
    bottom: -6px;
    right: -1px;
    width: 700px;
    background: white;
    color: black;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    text-transform: uppercase;
    line-height: 19px; }
    .title-block .logo-panel img {
      height: 50px; }
    .title-block .logo-panel .circle {
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 25px;
      margin-bottom: 10px;
      background-color: #00698c; }
    .title-block .logo-panel a {
      color: #00698c !important;
      font-family: "Segoe UI";
      font-size: 11px !important;
      color: #00698C; }
    .title-block .logo-panel table {
      border: 1px solid #868695;
      background: white;
      margin: 0; }
      .title-block .logo-panel table td {
        border-color: #868695;
        padding: 9px 17px;
        font-size: 12px !important;
        vertical-align: bottom; }
    .title-block .logo-panel .gray {
      color: #2F2F2F !important; }
    .title-block .logo-panel strong {
      font-size: 12px !important; }
  .title-block.active .logo-panel {
    width: 524px !important;
    height: 281px; }
  .title-block .logo-inner-panel {
    width: 524px;
    height: 281px; }
  .title-block.blue .logo-panel table td {
    background: #00698C;
    color: white !important; }
    .title-block.blue .logo-panel table td a {
      color: white !important; }
    .title-block.blue .logo-panel table td .circle {
      background: white; }

.no-left-border {
  border-left-width: 0px !important; }

.no-right-border {
  border-right-width: 0px !important; }

.no-top-border {
  border-top-width: 0px !important; }

.no-bottom-border {
  border-bottom-width: 0px !important; }

.no-padding, .no-padding * {
  padding: 0; }

.icon-md-button {
  width: 25px;
  height: 30px;
  display: inline-block;
  background: url("../icons/tool.png") no-repeat 0px -20px; }
  .icon-md-button.camera {
    background-position-x: 0px; }
  .icon-md-button.list {
    background-position-x: -28px; }

.border-veritcal {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  position: relative; }
  .border-veritcal:before {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    border-top: 1px solid #ECECEC; }
  .border-veritcal:after {
    position: absolute;
    bottom: -2px;
    left: 0px;
    height: 1px;
    width: 100%;
    border-top: 1px solid #ECECEC; }

.no-margin {
  margin: 0; }

.page-picture_wall {
  font-family: "Montserrat";
  color: black !important; }
  .page-picture_wall .train-description {
    font-family: "Segoe UI Light";
    font-size: 20px; }
  .page-picture_wall .title {
    text-transform: uppercase; }
  .page-picture_wall .desc {
    color: #CACAD8; }
  .page-picture_wall .area-reserved {
    border: 1px dashed #fd632f;
    font-family: "Segoe UI Light";
    font-size: 20px; }

.flex {
  display: flex;
  align-items: center; }

.page-chart .flex {
  align-items: flex-end; }
.page-chart .gant-toolbar {
  font: normal 12px "Segoe UI";
  line-height: 23px; }
  .page-chart .gant-toolbar span {
    display: inline-block;
    margin-right: 27px; }
    .page-chart .gant-toolbar span:first-child {
      margin-right: 20px; }
  .page-chart .gant-toolbar a {
    display: inline-block;
    color: #BFBFBF; }
  .page-chart .gant-toolbar .active {
    color: black;
    border-bottom: 2px solid #3DB9D3; }

.datepicker.dropdown-menu.datepicker-dropdown {
  z-index: 10011 !important; }

.gantt_cal_light[role=dialog] {
  font-family: "Montserrat";
  height: 410px !important;
  text-shadow: none !important; }
  .gantt_cal_light[role=dialog] .gantt_cal_ltitle {
    font-family: "Titillium";
    font-weight: 500;
    font-size: 12px;
    color: black; }
    .gantt_cal_light[role=dialog] .gantt_cal_ltitle .gantt_title {
      float: left;
      margin-right: 25px; }
    .gantt_cal_light[role=dialog] .gantt_cal_ltitle .gantt_time {
      font-weight: normal;
      font-family: "Segoe UI"; }
  .gantt_cal_light[role=dialog] .gantt_cal_lsection {
    display: none; }
  .gantt_cal_light[role=dialog] label {
    font-weight: bold;
    font-size: 11px;
    color: #5F5F5F;
    line-height: 1em; }
  .gantt_cal_light[role=dialog] .task-detail {
    border: 1px solid #DBDBEA;
    padding: 2px 5px 5px 5px;
    margin-top: 9px; }
    .gantt_cal_light[role=dialog] .task-detail label {
      height: 20px;
      margin: 0; }
  .gantt_cal_light[role=dialog] .task-name {
    height: 15px; }
    .gantt_cal_light[role=dialog] .task-name input {
      color: #3DB8D2;
      font-size: 12px;
      line-height: 1em;
      font-weight: bold;
      border-width: 0px !important;
      padding: 0px !important; }
  .gantt_cal_light[role=dialog] .task-description {
    font-family: "Segoe UI";
    font-size: 13px;
    color: #858594;
    line-height: 18px; }
  .gantt_cal_light[role=dialog] .category {
    font-family: "Segoe UI Italic";
    font-size: 12px;
    font-style: italic;
    color: black;
    line-height: 19px; }
  .gantt_cal_light[role=dialog] .task-resources {
    margin-top: 15px; }
    .gantt_cal_light[role=dialog] .task-resources button {
      line-height: 18px;
      height: 18px;
      padding: 0;
      margin: 0;
      float: right;
      background: #00698C;
      color: white;
      font-size: 11px;
      font-weight: bold;
      border: 0px;
      text-transform: uppercase;
      width: 140px; }
    .gantt_cal_light[role=dialog] .task-resources .avata-list-container {
      height: 110px;
      overflow-y: hidden;
      overflow-x: auto; }
    .gantt_cal_light[role=dialog] .task-resources ul {
      margin-top: 15px;
      list-style: none;
      padding: 0;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 630px; }
      .gantt_cal_light[role=dialog] .task-resources ul li {
        display: inline-block;
        width: 100px;
        padding: 0;
        margin-right: 10px;
        text-align: center; }
        .gantt_cal_light[role=dialog] .task-resources ul li img {
          width: 48px;
          height: 48px; }
        .gantt_cal_light[role=dialog] .task-resources ul li .user-name {
          margin-top: 5px; }
  .gantt_cal_light[role=dialog] .gantt_btn_set {
    text-shadow: none !important;
    font-family: "Titillium";
    font-weight: bold;
    text-transform: uppercase;
    width: 84px;
    height: 34px;
    letter-spacing: 0.7px;
    margin-top: 8px;
    margin-bottom: 5px; }
    .gantt_cal_light[role=dialog] .gantt_btn_set div {
      width: 100%;
      text-align: center;
      font-size: 14px !important; }
    .gantt_cal_light[role=dialog] .gantt_btn_set div:first-child {
      display: none; }
  .gantt_cal_light[role=dialog] .gantt_delete_btn_set {
    background: #D72828; }
  .gantt_cal_light[role=dialog] .gantt_save_btn_set {
    background: #00698C; }
  .gantt_cal_light[role=dialog] .gantt_cancel_btn_set {
    padding-right: 10px; }
  .gantt_cal_light[role=dialog] .gantt_cancel_btn_set div {
    margin: auto;
    float: none; }
  .gantt_cal_light[role=dialog] .task-time {
    margin-top: 10px; }
    .gantt_cal_light[role=dialog] .task-time > div {
      width: 235px;
      text-align: center; }
      .gantt_cal_light[role=dialog] .task-time > div:first-child {
        float: left; }
        .gantt_cal_light[role=dialog] .task-time > div:first-child input {
          width: 82px;
          height: 21px;
          color: #525260;
          border-width: 0px;
          font-weight: bold;
          font-family: Titillium;
          font-size: 14px; }
      .gantt_cal_light[role=dialog] .task-time > div:last-child {
        float: right;
        width: 150px; }
    .gantt_cal_light[role=dialog] .task-time .gantt_duration {
      height: 30px;
      width: 150px;
      margin: 0;
      float: none; }
      .gantt_cal_light[role=dialog] .task-time .gantt_duration input {
        height: 30px; }
        .gantt_cal_light[role=dialog] .task-time .gantt_duration input.gantt_duration_value {
          width: 108px;
          font-weight: bold;
          font-family: Titillium;
          font-size: 14px; }
    .gantt_cal_light[role=dialog] .task-time .date-line {
      border: 1px solid #CECECE;
      border-radius: 5px;
      height: 30px; }
      .gantt_cal_light[role=dialog] .task-time .date-line span {
        display: inline-block;
        width: 45px; }
    .gantt_cal_light[role=dialog] .task-time label {
      text-align: center;
      font-family: "Segoe UI";
      font-size: 12px;
      color: black;
      padding: 2px 0px; }
    .gantt_cal_light[role=dialog] .task-time .label-line label {
      width: 50%; }

/*# sourceMappingURL=style.css.map */

