<!-- START PAGE COVER -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">DASHBOARD</a>
                </li>
                <li><a href="#">ASSEMBLY BUILDER</a>
                </li>
                 <li><a href="#" class="active">ASSEMBLY NAME</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<div class="header-container">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div>
            <h1>ASSEMBLYNAME</h1>
        </div>
        <div>
            <h5 class="inline" style="text-transform: none !important;">Build the assemble save it and add more later.</h5>
             <button class="btn btnSave btn-success pull-right" ng-click="showModal()">SAVE ASSEMBLY</button>
                        <button class="btn btnImport btn-cons pull-right" ng-click="showModal()">IMPORT ASSEMBLY</button>
        </div>
    </div>
</div>
<div class="container-fluid container-fixed-lg page-create_assembly">

    <hr/>
    <div class="row">

        <div class="col-md-4">
            <div class="input-group product-search-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control search-group-box" placeholder="Search Parts, Bundles etc"
                       aria-describedby="basic-addon1"
                       ng-model="_groupFilter.name">
            </div>

            <div class="color-black" style="margin-top: 35px;">
                <tree-dnd tree-class="table table-product-group"
                    tree-data="leftTreeData"
                    filter="_groupFilter"
                    tree-control="leftTreeCtrl"
                    primary-key="id"
                    column-defs="leftTreeCols"
                    expand-on="leftTreeExpandProperty"
                    template-url="tree-dnd-template-render.html"
                    icon-leaf="none"
                    icon-expand="glyphicon glyphicon-chevron-down"
                    icon-collapse="glyphicon glyphicon-chevron-right"
                    expand-level="100"
                ></tree-dnd>
            </div>
        </div>

        <div class="col-md-8">

            <!-- <div class="row">
                <div class="col-md-4" style="width: auto; margin: 0; padding: 0;">
                    <div class="form-group-attached">
                        <div pg-form-group="" class="form-group form-group-default required customer">
                            <label> Assembly Name (ID)</label>
                            <input type="text" class="form-control" required="" placeholder="Select a current customer">
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style=" margin-left: 10px; padding-left: 0px;">
                    <div pg-form-group="" class="form-group form-group-default form-group-default-select">
                        <label class="">Assembly Manufacture</label>
                        <ui-select ng-model="country.selected" theme="bootstrap">
                            <ui-select-match placeholder="Select a manufacturer">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices group-by="" repeat="country in countries | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((country.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div> -->
            <div>
                <tree-dnd tree-class="table table-hover table-striped table-product-description"
                          tree-data="rightTreeData"
                          tree-control="rightTreeCtrl"
                          filter="_filter"
                          primary-key="id"
                          column-defs="rightTreeCols"
                          expand-on="rightTreeExpandProperty"

                          template-url="right-tree-render.html"

                          icon-leaf="none"
                          icon-expand="fa fa-chevron-down"
                          icon-collapse="fa fa-chevron-right"

                          indent="30"
                          indent-plus="20"
                          indent-unit="px"
                          enable-drag="true"
                          enable-drop="true"
                >
                </tree-dnd>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="tree-dnd-template-render.html">
    <div ng-class="(treeData.length) ? '' : 'list-group-item active '" ?>
        <ul tree-dnd-nodes style="min-height: 100px">
            <li tree-dnd-node="node" ng-repeat="node in treeData track by node.__hashKey__"
                ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__" compile="expandingProperty.cellTemplate"
                ng-include="'tree-dnd-template-fetch.html'"></li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="tree-dnd-template-fetch.html">
    <div class="list-group-item text-info level-{{node.__level__ }} {{node.type}}"
         ng-class="(node.__selected__ ? 'list-group-item-success ':' ') + $node_class"
         ng-click="onClick(node)"
         ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {}">

        <span class="expand-handler" ng-class="{expanded:node.__expanded__}" ng-click="node.__expanded__ = !node.__expanded__"></span>
        <ng-container ng-if="node.type == 'product'">
            <span>Product Item</span><span>Product SKU</span>
            <span class="btn-add-product icon-button icon-plus" title="Add product" ng-if="node.__expanded__" ng-click="addProductItem(node)"></span>
            <div class="description" ng-show="node.__expanded__">
                {{node.description}}
            </div>
        </ng-container>

        <ng-container ng-if="node.type != 'product'">
            {{node[expandingProperty.field] || node[expandingProperty]}}
        </ng-container>


        <div class="pull-right">
            <span ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
                  compile="col.cellTemplate">
                {{node[col.field]}}
            </span>
        </div>
    </div>
    <ul tree-dnd-nodes>
        <li tree-dnd-node="node" ng-repeat="node in node.__children__ track by node.__hashKey__"
            ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__" compile="expandingProperty.cellTemplate"
            ng-include="'tree-dnd-template-fetch.html'"></li>
    </ul>
</script>



<script type="text/ng-template" id="right-tree-render.html">
    <table ng-class="$tree_class">
        <thead>
        <tr>
            <th style="width: 47%;" ng-class="expandingProperty.titleClass" ng-style="expandingProperty.titleStyle"

                compile="expandingProperty.titleTemplate">
                {{expandingProperty.displayName || expandingProperty.field || expandingProperty}}
            </th>
            <th ng-repeat="col in colDefinitions" ng-class="col.titleClass" ng-style="col.titleStyle"
                compile="col.titleTemplate">
                {{col.displayName || col.field}}
            </th>
        </tr>
        </thead>
        <tbody tree-dnd-nodes>
        <tr tree-dnd-node="node" ng-repeat="node in tree_nodes track by node.__hashKey__ "
            ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"
            ng-class="enabledFilter ? (node.__filtered__ === true? 'success': '') : (node.__selected__ ? ' active':'')"
            ng-click="onSelect(node)">
            <td tree-dnd-node-handle
                ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
                ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">
                <a data-nodrag>
                    <i ng-class="node.__icon_class__" ng-click="toggleExpand(node)" class="tree-icon"></i>
                </a>


                <span class="product-info">Product Name, Product SKU</span>
                <div ng-if="node.edit" style="margin-left: 1.3em;">
                    <input type="text" ng-model="node['description']" />
                </div>
                <div class="description" ng-if="!node.edit">
                    {{node['description']}}
                </div>
            </td>
            <td ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
                compile="col.cellTemplate">
                <div ng-if="!node.edit || col.field != 'qty'">
                    {{ col.filter ? col.filter(node[col.field]) : node[col.field]}}
                </div>
                <div ng-if="node.edit && col.field == 'qty'">
                    <div class="input-group spinner">
                        <input type="text" ng-model="node['qty']" class="form-control" value="42">
                        <div class="input-group-btn-vertical">
                            <button class="btn btn-default" type="button" ng-click="node['qty'] = node['qty'] + 1"><i class="fa fa-caret-up"></i></button>
                            <button class="btn btn-default" type="button" ng-click="node['qty'] = node['qty'] - 1"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</script>
<script type="text/javascript">
//    (function ($) {
//        $('body').on('click', '.spinner .btn:first-of-type', function() {
//            $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
//        });
//        $('body').on('click', '.spinner .btn:last-of-type', function() {
//            $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
//        });
//    })(jQuery);
</script>