.btnSave {
	background-color: #089219;
    border-color: #089219;
}
.btnSave:hover{
	background-color: #089219;
    border-color: #089219;
}
.btnImport{
	background-color: black;
    border-color: black;
    color:#fffefe;
}
.btnImport:hover{
	background-color: black;
    border-color: black;
    color:#fffefe;
}
.table {
     margin-top: 10px !important; 
}
h5{
 text-transform: none !important;
}
.assemblyDesc .table tbody tr td {
    background-color:#fafafa !important;
}
.buildassembl .descTable  .tree-dnd-nodes + .tree-dnd-node {
    border-radius: 0px !important;
    background-color: red!important;
}
.NoBg{
    background-color: transparent!important;
}
.header-btn-config {
    font-weight: bold;
}
.jumbotron {
    margin-top: -20px;
    margin-bottom: 0px;
} 
.header-container {
    height: 110px !important;
}
.builder-id {
    color: #000 !important;
    margin: 10px 0 0;
}
.product-name {
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    line-height: 1.1;
    cursor: pointer;
    user-select: none;
}