
<!-- START PAGE COVER -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">DASHBOARD</a>
                </li>
                <li>
                    <a href="#">ORDERS</a>
                </li>
                <li>
                    <a href="#" class="active">{{ordername}}</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<div class="header-container">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div>
            <h1 style="color: #000">ordername</h1>
        </div>
        <div>
            <h5 class="inline" style="text-transform: none !important;">Create an order and send it later.</h5>
            <button class="btn btnSave btn-success pull-right" ng-click="saveOrder(id = 2)">SAVE & SEND ORDER</button>
            <button class="btn btnImport btn-cons pull-right" ng-click="saveOrder(id = 1)">SAVE AS DRAFT</button>
        </div>
    </div>
</div>
<div class="container-fluid buildassembl container-fixed-lg page-create_assembly">

    <hr />
    <div class="row" style="height: 500px;">

        <div class="col-md-4 col-lg-4 groupleft">
            <div class="input-group product-search-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control search-group-box" placeholder="Search Parts, Bundles etc"
                       aria-describedby="basic-addon1"
                       ng-model="_groupFilter.name">
            </div>

            <div class="color-black" style="margin-top: 35px;float:left">
                <tree-dnd tree-class="table table-product-group"
                          tree-data="leftTreeData"
                          filter="_groupFilter"
                          tree-control="leftTreeCtrl"
                          primary-key="id"
                          column-defs="leftTreeCols"
                          expand-on="leftTreeExpandProperty"
                          template-url="tree-dnd-template-render.html"
                          icon-leaf="none"
                          icon-expand="glyphicon glyphicon-chevron-down"
                          icon-collapse="glyphicon glyphicon-chevron-right"
                          expand-level="100"></tree-dnd>
            </div>



            <div class="color-black" style="margin-top: 35px;float:left;clear:both">
                <tree-dnd tree-class="table table-product-group"
                          tree-data="leftTreeAssembliesData"
                          filter="_groupFilter"
                          tree-control="leftTreeAssembliesCtrl"
                          primary-key="id"
                          column-defs="leftTreeAssembliesCols"
                          expand-on="leftTreeExpandAssembliesProperty"
                          template-url="tree-dnd-Assemblies-template-render.html"
                          icon-leaf="none"
                          icon-expand="glyphicon glyphicon-chevron-down"
                          icon-collapse="glyphicon glyphicon-chevron-right"
                          expand-level="100"></tree-dnd>
            </div>


        </div>







        <div class="col-md-8 col-lg-8">
            <div class="">
                <tree-dnd tree-class="table table-product-description"
                          tree-data="rightTreeData"
                          tree-control="rightTreeCtrl"
                          filter="_filter"
                          primary-key="id"
                          column-defs="rightTreeCols"
                          expand-on="rightTreeExpandProperty"
                          template-url="right-tree-render.html"
                          icon-leaf="none"
                          indent="30"
                          indent-plus="20"
                          indent-unit="px"
                          enable-drag="true"
                          enable-drop="true">
                </tree-dnd>
            </div>
        </div>
    </div>
</div>


<div class="modal stick-up" id="createOrEdit" tabindex="-1" role="dialog" aria-labelledby="createOrEdit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pg-close fs-14"></i>
                </button>
                <h5 class="pull-left"><span class="semi-bold">Edit</span> Assembly</h5>
            </div>
            <div class="modal-body">
                <p>Form Edit a assembly.</p>
                <!--<form name="userForm" novalidate>-->
                <div class="form-group form-group-default">
                    <label for="assembly">Notes</label>
                    <input type="text" name="assembly" class="form-control" ng-model="selectedNode.description1" ng-pattern="" required>
                </div>
                <div class="form-group form-group-default">
                    <label for="assembly">Qty</label>
                    <input type="text" name="assembly" class="form-control" ng-model="selectedNode.qty" ng-pattern="" required>
                </div>

                <div class="form-group">
                    <label for="assembly">Cost</label>
                    <span>${{selectedNode.cost}}</span>
                </div>

                <!--<div class="form-group">
                    <label for="assembly">Total</label>
                    <span>${{selectedNode.total}}</span>
                </div>-->
                

                <
                di


                <div class="row">
                    <div class="ol-sm-4 col-md-4 m-t-10 sm-m-t-10 ">
                        <button type="submit" class="btn btn-warning btn-block m-t-5" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 m-t-10 sm-m-t-10">
                        <button type="submit" class="btn btn-complete active btn-block m-t-5" ng-click="SaveNotes()">Submit</button>
                    </div>
                </div>
                <!--</form>-->
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tree-dnd-template-render.html">
    <div ng-class="(treeData.length) ? '' : 'list-group-item active '" ?>
        <ul tree-dnd-nodes>
            <li tree-dnd-node="node" ng-repeat="node in treeData track by node.__hashKey__"
                ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__" compile="expandingProperty.cellTemplate"
                ng-include="'tree-dnd-template-fetch.html'"></li>
        </ul>
    </div>
</script>


<script type="text/ng-template" id="tree-dnd-Assemblies-template-render.html">
    <div ng-class="(treeData.length) ? '' : 'list-group-item active '" ?>
        <ul tree-dnd-nodes>
            <li tree-dnd-node="node" ng-repeat="node in treeData track by node.__hashKey__"
                compile="expandingProperty.cellTemplate"
                ng-include="'tree-dnd-template-Assemblies-fetch.html'"></li>
        </ul>
    </div>
</script>


<script type="text/ng-template" id="tree-dnd-template-fetch.html">
    <div class="list-group-item NoBg text-info level-{{node.__level__ }} {{node.type}}"
         ng-class="(node.__selected__ ? 'list-group-item-success ':' ') + $node_class"
         ng-click="onClick(node)"
         ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {}" style="user-select: none;">

        <span class="expand-handler" ng-class="{expanded:node.__expanded__}" ng-click="node.__expanded__ = !node.__expanded__"></span>
        <ng-container ng-if="node.type == 'product'">
        <span class="hidden-xs hidden-sm product-name" style="max-width: 270px; overflow: hidden; text-overflow: ellipsis; display: inline-block; white-space: nowrap; line-height: 1.1; cursor: pointer; user-select: none;">{{node.name}}</span>


            <span class="visible-xs visible-sm">{{ node.name | limitTo: 10 }}{{node.name.length > 10 ? '...' : ''}}</span>


            <a class="pull-right btn-xs" data-nodrag title="Add product" ng-click="addProductItem(this)">
                <span class="fs-14 pg-plus" style="border:1px solid #B4B4B4;border-radius:50%;color:#B4B4B4;"></span>
            </a>
            <div class="description" ng-show="node.__expanded__">
                <span>{{ node.description | limitTo: 150 }}{{node.description.length > 150 ? '...' : ''}}</span>
            </div>
        </ng-container>

        <ng-container ng-if="node.type != 'product'">
            {{node[expandingProperty.field] || node[expandingProperty]}}
        </ng-container>


        <div class="pull-right">
            <span ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
                  compile="col.cellTemplate">
                {{node[col.field]}}
            </span>
        </div>
    </div>
    <ul tree-dnd-nodes>
        <li tree-dnd-node="node" ng-repeat="node in node.__children__ track by node.__hashKey__"
            ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__" compile="expandingProperty.cellTemplate"
            ng-include="'tree-dnd-template-fetch.html'"></li>
    </ul>
</script>





<script type="text/ng-template" id="tree-dnd-template-Assemblies-fetch.html">
    <div class="list-group-item NoBg text-info level-{{node.__level__ }} {{node.type}}"
         ng-class="(node.__selected__ ? 'list-group-item-success ':' ') + $node_class"
         ng-click="onClick(node)"
         ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {}" style="user-select: none;">

        <span class="expand-handler" ng-class="{expanded:node.__expanded__}" ng-click="node.__expanded__ = !node.__expanded__"></span>
        <ng-container ng-if="node.type == 'Assemblies'">
            <span style="max-width: 270px; overflow: hidden; text-overflow: ellipsis; display: inline-block; white-space: nowrap; line-height: 1.1; cursor: pointer; user-select: none;">{{node.name}}</span>

            <a class="pull-right btn-xs" data-nodrag title="Add product" ng-click="addProductItem(this)">
                <span class="fs-14 pg-plus col-lg-offset-10" style="border:1px solid #B4B4B4;border-radius:50%;color:#B4B4B4;"></span>
            </a>

            <div class="description" ng-show="node.__expanded__">
                {{node.description}}
            </div>
        </ng-container>

        <ng-container ng-if="node.type != 'Assemblies'">
            {{node[expandingProperty.field] || node[expandingProperty]}}
        </ng-container>


        <div class="pull-right">
            <span ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
                  compile="col.cellTemplate">
                {{node[col.field]}}
            </span>
        </div>
    </div>
    <ul tree-dnd-nodes>
        <li tree-dnd-node="node" ng-repeat="node in node.__children__ track by node.__hashKey__"
            ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__" compile="expandingProperty.cellTemplate"
            ng-include="'tree-dnd-template-Assemblies-fetch.html'"></li>
    </ul>
</script>


<script type="text/ng-template" id="right-tree-render.html" class="assemblyDesc">
    <table ng-class="$tree_class" class="descTable">
        <thead>
            <tr>
                <th style="width: 47%;" ng-class="expandingProperty.titleClass" ng-style="expandingProperty.titleStyle"
                    compile="expandingProperty.titleTemplate">
                    {{expandingProperty.displayName || expandingProperty.field || expandingProperty}}
                </th>
                <th ng-repeat="col in colDefinitions" ng-class="col.titleClass" ng-style="col.titleStyle"
                    compile="col.titleTemplate">
                    {{col.displayName || col.field}}
                </th>
            </tr>
        </thead>
        <tbody tree-dnd-nodes>
            <tr tree-dnd-node="node" ng-repeat="node in tree_nodes track by node.__hashKey__ "
                ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"
                ng-class="enabledFilter ? (node.__filtered__ === true? 'success': '') : (node.__selected__ ? ' active':'')"
                ng-click="onSelect(node)">
                <td tree-dnd-node-handle
                    ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
                    ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">
                    <a data-nodrag>
                        <!--<i ng-class="node.__icon_class__" ng-click="toggleExpand(node)" class="tree-icon"></i>-->
                        <!--<i ng-click="toggleExpand(node)" class="tree-icon"></i>-->
                    </a>

                    <span class="product-info">{{node['name']}}</span>
                    <div class="description" ng-bind-html="node['description']">
                    </div>
                    <!--<span class="product-info">{{node.description}}</span>-->
                    <div ng-if="node.edit" style="margin-left: 1.3em;">
                        <input type="text" ng-model="node['description1']" />
                    </div>
                    <div class="description" ng-if="!node.edit">
                        {{node['description1']}}
                    </div>
                </td>
                <td ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
                    compile="col.cellTemplate">
                    <div ng-if="!node.edit || col.field != 'qty'">
                        {{ col.filter ? col.filter(node[col.field]) : node[col.field]}}
                    </div>
                    <div ng-if="node.edit && col.field == 'qty'">
                        <div class="input-group spinner">
                            <input type="text" ng-model="node['qty']" class="form-control" value="42">
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default" type="button" ng-click="node['qty'] = node['qty'] + 1"><i class="fa fa-caret-up"></i></button>
                                <button class="btn btn-default" type="button" ng-click="node['qty'] = node['qty'] - 1"><i class="fa fa-caret-down"></i></button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</script>
