.btnSave {
	background-color: #089219;
    border-color: #089219;
    margin-left: 10px;
}
.btnSave:hover{
	background-color: #089219;
    border-color: #089219;
}
.btnImport{
	background-color: black;
    border-color: black;
    color:#fffefe;
}
.btnImport:hover{
	background-color: black;
    border-color: black;
    color:#fffefe;
}
.table {
     margin-top: 10px !important; 

h5{
 text-transform: none !important;
}
.buildassembl {
    height: 500px !important;
}
.jumbotron {
    margin-bottom: 0;
}
