<div class="jumbotron jumbotronBg" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><a href="#" class="active">ASSEMBLIES</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<div class="header-container">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div>
            <h1>ASSEMBLIES</h1>
        </div>
        <div>
            <h4 class="inline">This is a complete list of all current customers</h4>
            <button class="btn btn-custom btn-cons pull-right" ng-click="showModal()">CREATE NEW ASSEMBLY</button>
        </div>
    </div>
</div>
<div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
            </div>
            <div class="pull-right">
                <div class="col-xs-12">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <table  datatable="ng" class="table expanding table-hover table-condensed" id="table" ui-jq="dataTable" ui-options="DT_options" dt-instance="dtInstance">
                <thead>
                    <tr>
                        <th class="">CUSTOMER ID</th>
                        <th class="">DESCRIPTION</th>
                        <th class="">CREATED DATE</th>
                        <th class="">UPDATED DATE</th>
                        <th class="">PARENT ID</th>
                        <th class="">SYS STATE</th>
                        <th class="">TENANT ID</th>
                        <th class="">USER ID</th>
                        <th>STATUS</th>
                        <th class="">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bundle in bundles">
                        <td>{{bundle.customerId}}</td>
                        <td>{{bundle.description}}</td>
                        <td>{{bundle.dateCreated| date:"yyyy/MM/dd"}}</td>
                        <td>{{bundle.dateUpdated| date:"yyyy/MM/dd"}}</td>
                        <td>{{bundle.parentid}}</td>
                        <td>{{bundle.sysState}}</td>
                        <td>{{bundle.tenantId}}</td>
                        <td>{{bundle.userId}}</td>
                        <td>{{bundle.status}}</td>
                        <td><a href="#" ng-click='clickThis(bundle._id)'>Edit</a> | <a href="">VIEW</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- MODAL STICK UP  -->
<div class="modal stick-up" id="createOrEdit" tabindex="-1" role="dialog" aria-labelledby="createOrEdit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5 class="pull-left"><span class="semi-bold">New</span> Assembly</h5>
            </div>
            <div class="modal-body">
                <p>Form creates a new assembly.</p>
                <form name="userForm" novalidate>
                    <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.assembly.$invalid && !userForm.assembly.$pristine }">
                        <label for="assembly">Assembly id</label>
                        <input type="text" name="assembly" class="form-control" ng-model="date" ng-pattern="regex" required>
                        <span style="color:red" ng-show="userForm.assembly.$error.pattern">Not a valid Id</span>
                    </div>
                    <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.manufacturer.$invalid && !userForm.manufacturer.$pristine }">
                        <label>Manufacture</label>
                        <input type="text" name="manufacturer" class="form-control" ng-model="user.manufacturer" required>
                    </div>
                    <div class="row">
                    <div class="ol-sm-4 col-md-4 m-t-10 sm-m-t-10 ">
                        <button type="submit" class="btn btn-warning btn-block m-t-5" data-dismiss="modal">Cancel</button>
                          </div>
                        <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 m-t-10 sm-m-t-10">
                        <button type="submit" class="btn btn-complete active btn-block m-t-5" ng-disabled="userForm.$invalid" ng-click="Save()">Submit</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    
<!--  <script type="text/javascript">
     $('#table').dataTable({
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [ 2,3,4,5,7 ] }]
        });
</script>  -->
