<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><a href="#" class="active">ASSEMBLIES</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<div class="header-container">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div>
            <h1>ASSEMBLIES</h1>
        </div>
        <div>
            <h3 class="inline">This is a complete list of all current customers</h3>
            <button class="btn btn-custom btn-cons pull-right" ng-click="showModal()">CREATE NEW ASSEMBLY</button>
        </div>
    </div>
</div>
<div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
    <div class="panel-heading">
            <div class="panel-title">
            </div>
            <div class="pull-right">
                <div class="col-xs-12">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" >
            <table class="table expanding table-hover table-condensed" id="table" ui-jq="dataTable" ui-options="DT_options" dt-instance="dtInstance">
                <thead>
                <tr>
                    <th width="30%" class="">ASSEMBLY ID</th>
                    <th width="30%" class="">MANUFACTURE</th>
                    <th width="20%" class="">DESCRIPTION</th>
                    <th width="30%" class="">CREATED BY</th>
                    <th width="20%" class="">KEYWORDS</th>
                    <th width="20%" class="">DATE CREATED</th>
                    <th width="30%">STATUS</th>
                    <th width="20%" class="">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr >
               </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!-- MODAL STICK UP  -->
<div class="modal stick-up" id="createOrEdit" tabindex="-1" role="dialog" aria-labelledby="createOrEdit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">New</span> Assembly</h4>
            </div>
            <div class="modal-body">
                <p class="small-text">Form create a new assembly</p>
               

                <form name="userForm" novalidate>

        <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.assembly.$invalid && !userForm.assembly.$pristine }">
            <label for="assembly">Name</label>
            <input type="text" name="assembly" class="form-control" ng-model="date" ng-pattern="regex" required>
           <!--  <p ng-show="userForm.assembly.$invalid && !userForm.assembly.$pristine" class="help-block">You assemblyid is required.</p> -->
             <!--  <p ng-show="userForm.assembly.$valid " class="help-block">Valid pattern is required.</p> -->
             <span style="color:red" ng-show="userForm.assembly.$error.pattern">Not a valid Id</span>
        </div>
      
        <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.manufacturer.$invalid && !userForm.manufacturer.$pristine }">
            <label>Manufacturer</label>
            <input type="text" name="manufacturer" class="form-control" ng-model="user.manufacturer" required>
           <!--  <p ng-show="userForm.manufacturer.$error.minlength" class="help-block">Username is too short.</p> -->
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary btn-custom  btn-cons pull-right" ng-disabled="userForm.$invalid" ng-click="Save()">Submit</button>
        </div>
    </form>
            </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->
<!-- <script type="text/javascript">
     $('#table').dataTable({
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [ 2,3,4,5,7 ] }]
        });

</script> -->