.dataTables_length{
    display: none
}
h3{
    color: #0e94c5 !important;
}
table{
        display: block;
    width: 1234px;
    overflow: auto;
}
.btns{
	width: 165px;
}
@media (min-width: 768px){
.modal-dialog {
    width: 472px;
    margin: 30px auto;
}
}